<div class="mb-3">
  <label for="password" class="form-label">Password</label>
  <input id="password" type="password" class="form-control" [formField]="form.password" />
  @if (form.password().invalid() && form.password().touched()) {
    <div class="error">
      @for (error of form.password().errors(); track error.kind) {
        <span>{{ error.message }}</span>
      }
    </div>
  }
</div>
<div class="mb-3">
  <label for="confirmPassword" class="form-label">Confirm Password</label>
  <input
    id="confirmPassword"
    type="password"
    class="form-control"
    [formField]="form.confirmPassword"
  />
  @if (form.confirmPassword().invalid() && form.confirmPassword().touched()) {
    <div class="error">
      @for (error of form.confirmPassword().errors(); track error.kind) {
        <span>{{ error.message }}</span>
      }
    </div>
  }
</div>
